/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn-small {
    padding: 7px 20px;
    font-size: 13px;
}

html {
    background-color: white;
}

/* HEADER NAV MENU*/

nav.nav-left, nav.nav-right {
    display: inline-block;
    width: 50%;
    background-color: white
}

nav.nav-left {
    text-align: left;
}

nav.nav-right {
    text-align: right;
}

header nav ul li, header nav img, header nav ul {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}

header nav ul li {
    padding: 20px 20px;
}

header nav img {
    padding: 0 15px;
}

header nav ul {
    padding: 0 0;
}

/* HEADER HERO CONTENT */

.hero-background {
    background-color: #b4d0e7;
    padding: 25px;
}

.hero-content {
    margin: auto;
    max-width: 80%;
    height: 570px;   /* debug */
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 700;
    padding: 50px 15px 20px 0;
}

.hero-info-left {
    max-width: 33%;
    float: left;
}

.hero-info-left p {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 35px;
    padding-top: 25px;
}

.hero-info-left i {
    font-size: 40px;
    padding-top: 10px;
}

.hero-img {
    float: left;
    max-width: 65%;
    padding-left: 30px;
}

.hero-img img {
    width: 100%;
    position: relative;
    bottom: -30px;
}