/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn-small {
    padding: 7px 20px;
    font-size: 13px;
}

.blue {
    color: #0061ff;
}

/* HEADER NAV MENU*/

nav.nav-left, nav.nav-right {
    display: inline-block;
    width: 50%;
    background-color: white
}

nav.nav-left {
    text-align: left;
}

nav.nav-right {
    text-align: right;
}

header nav ul li, header nav img, header nav ul {
    display: inline-block;
    vertical-align: middle;
}

header nav ul li{
    padding: 20px 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav img {
    padding: 0 15px;
}

header nav ul {
    padding: 0 0;
}

/* HEADER HERO CONTENT */

.hero-background {
    background-color: #b4d0e7;
    /* padding: 25px; */
}

.hero-content {
    margin: auto;
    width: 80%;
    /* height: 570px;    */
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
    padding: 50px 15px 20px 0;
}

.hero-info-left {
    width: 30%;
    float: left;
}

.hero-info-left p {
    font-size: 12px;
    padding-bottom: 35px;
    padding-top: 65px;
}

.hero-info-left div {
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.hero-info-left i {
    font-size: 40px;
    padding-top: 10px;
}

.hero-img {
    float: left;
    width: 65%;
    padding-left: 30px;
}

.hero-img img {
    position: relative;
    bottom: -60px;
    width: 700px;
    /* padding-top: 30px; */
}

/* MAIN SECTION */

section .main-content {
    height: 700px;
    width: 65%;
    margin: auto;
    margin-top: 150px;
    /* background-color: tomato; */
}

section .main-content h2 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 40px;
}

.radio-btn {
    padding-right: 20px;
}

.left-col, .center-col, .right-col {
    float: left;
    width: calc(100% / 3 - 20px);
    min-height: 1000px;
    margin-top: 25px;
    border: 1px solid #d0d0d3;
}

.center-col {
    margin: 25px 30px 0 30px;
}

/* COLUMNS */

.col-title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d3;
}

.col-content {
    padding: 30px 20px 20px 20px;
    font-size: 14px;
}

.col-content h3 {
    font-size: 27px;
    font-weight: 800;
}

div.price {
    padding: 20px 0 15px 0;
    font-weight: 800;
}

.col-content p {
    padding: 15px 0 10px 0;
}

p.month {
    color: #8d99a3;
    padding-bottom: 30px;
}

.col-content ul li span {
    padding-left: 17px;
}

.col-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 15px;
}

.col-content hr {
    width: 25%;
    margin-top: 20px;
}

.col-content h5 {
    font-size: 16px;
    font-weight: 800;
    margin-top: 35px;
}

.col-content ul li {
    list-style: none;
    padding-top: 25px;
}

